.button {
  margin-left: 2rem;
  color: #5c5c5c;
  font-size: 2rem;
  letter-spacing: 3px;
  border: 4px solid #5c5c5c;
  border-image: linear-gradient(45deg, #5c5c5c, #231f20);
  border-image-slice: 1;
  background: linear-gradient(45deg, #5c5c5c, #231f20);
  transition: all 0.2s ease; }
  .button:hover {
    border-image: linear-gradient(45deg, #a29266, dodgerblue);
    background: linear-gradient(45deg, #a29266, #a29266); }
