@import "library";
@import "login";
@import "playlist";

.hidden {
    display: none;
}
body {
    font-family: Gotham;
    color: #5c5c5c;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

.logo {
  background-color: #231f20;
}

.logo h6 {
    font-family: Gotham;
    padding-bottom: 39px;
    color: #a29266;
}

li{
  text-decoration: none;
}

.menu a{
  color: black;
}
