@import "library";
@import "login";
@import "playlist";

.hidden {
  display: none;
}

body {
	background-color: #ccc;
  font-family: Gotham;
  color: #5c5c5c;
  text-align: center;
  justify-content: center;
}
