<!DOCTYPE html>
<html ng-app="IronSoundApp">

<head>
    <meta charset="utf-8">
    <title>Iron Sound</title>
    <link rel="normalize" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-sanitize.js"></script>
    <script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">

    <script src="js/app.js"></script>


</head>

<body>
    <div class="logo">
        <img src="/images/IronSound.png" alt="logo" id='logo'>
        <h6>Where coding and classical tunes come alive.</h6>
    </div>


    <main ng-view></main>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>

    <!-- login page -->
    <!-- <h2>Login to your Iron Sound Profile:</h2>

    <input type="text" ng-model="name" placeholder="Username">
    <input type="password" ng-model="password" placeholder="Password">
    <button ng-click="login()">Let's play some tunes.</button> -->




    <!-- <h2>Login to your Iron Sound Profile:</h2>

      <input type="text" ng-model="name" placeholder="Username">
      <input type="password" ng-model="name" placeholder="Password">
      <button ng-click="login()">Let's play some tunes.</button> -->

    <!-- library page -->

    <!-- <h2>Todays list of songs:</h2>
    <ul>
      <li ng-repeat="Available songs:">
        <img ng-src="{{ tom.filename }}" />
        <p>
            <button ng-click="fav(tom, true)">Add Song</button>
        </p>
    </li>
    </ul> -->




</body>

</html>
