.button {
  color: white;
  font-size: 2rem;
  letter-spacing: 5px;
  border: 4px solid transparent;
  border-image: linear-gradient(45deg, pink, skyblue);
  border-image-slice: 1;
  background: linear-gradient(45deg, pink, skyblue);
  -webkit-background-clip: text;
  text-fill-color: transparent;
  transition: all 0.2s ease; }

.button:hover {
  border-image: linear-gradient(45deg, #2ecc71, dodgerblue);
  background: linear-gradient(45deg, #2ecc71, dodgerblue); }

.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px; }

h1.ng-scope {
  text-align: center; }

#logoIcon {
  max-width: 6%;
  margin-right: 1%; }

/* Variables */
/* Small Navigation */
.logo-small {
  float: right; }

.title-bar {
  padding: 0 .5rem; }

.menu-icon,
.title-bar-title {
  position: relative;
  top: 10px; }

/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) {
  .logo-wrapper {
    position: relative; }
    .logo-wrapper .logo {
      width: 118px;
      height: 92px;
      position: absolute;
      left: 50%;
      right: 50%;
      top: -6px;
      margin-left: -59px; }
  .top-bar-right {
    width: 50%;
    padding-left: 86px; }
    .top-bar-right ul {
      float: left; }
  .top-bar-left {
    width: 50%;
    padding-right: 86px; }
    .top-bar-left ul {
      float: right; } }

.hidden {
  display: none; }

body {
  font-family: Gotham;
  color: #5c5c5c;
  text-align: center;
  justify-content: center; }

.logo {
  background-color: #231f20; }

.logo h6 {
  font-family: Gotham;
  padding-bottom: 39px;
  color: #a29266; }
